<div class="row" style="padding: 11%; padding-top: 3%;">
    <p>
        <br/>
        Username:<br/>
        <input type="text" id="un" name="Username" size="20"><br/>
        Password:<br/>
        <input type="password" id="pass" name="password" size="20"><br/>
        <button onclick="validateForm()" href="Memberpage.html" class="button button1">LOGIN</button><br/>
        <a id="link" target="_blank" href="fmp.html">Forgot my password</a> | <a id="link" href="signup.html">Sign up</a>
    </p>
</div>