<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home</title>
    </head>
    <body>
        <div class="container-fluid" style="padding: 0;">
            <div class="row justify-content-center">
                <div id="left" class="col-1 bg-color-left">
                </div>
                <div id="header" class="row bg-color-header">
                    <h1>Photography Club</h1>
                </div>
                <div id="center" class="col-10">
                    <div id="content" class="row">
                        <router-outlet></router-outlet>
                    </div>
                </div>
                <div id="footer" class="row bg-color-footer">
                    <h5>Copyright &copy; Youssef Gamaleldin</h5>
                </div>
                <div id="right" class="col-1" style="padding: 0; z-index: 999;">
                    <ul id="navbar" class="navbar-nav flex-md-column">
                        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
                        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/login">Login</a></li>
                        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/contact">Contact</a></li>
                        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/about">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>