<div class="row" style="padding: 4%; padding-top: 1%;">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div id="p1" class="d-block w-100">
                <img id="img1" src="../../assets/newyork1.jpg" style="max-width: 63%;">
                <div class="text">
                  New York city, is known as the biggest city in the world. Famous for their statue of Liberty, an icon in New York Harbour.
                  <a routerLink="/login">Click here to see full album</a> 
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div id="p1" class="d-block w-100">
                <img id="img2" src="../../assets/london1.jpeg" style="max-width: 64%;">
                <div class="text">
                  London, is known as the most powerful city in the world. Famous for their Big Ben, an iconic national timepiece.
                  <a routerLink="/login">Click here to see full album</a> 
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div id="p1" class="d-block w-100">
                <img id="img3" src="../../assets/prague1.jpg" style="max-width: 76%;">
                <div class="text">
                  Prague, is known as the most touristic city in the world. Famous for their Chalres Bridge, an iconic sturcture with views.
                  <a routerLink="/login">Click here to see full album</a> 
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div id="p1" class="d-block w-100">
                <img id="img4" src="../../assets/havan1.jpg" style="max-width: 65%;">
                <div class="text">
                  Havana, is known as the oldest city in the world. Famous for their classic 90's cars.
                  <a routerLink="/login">Click here to see full album</a> 
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div id="p1" class="d-block w-100">
                <img id="img5" src="../../assets/istanbul1.jpg" style="max-width: 69%;">
                <div id="text">
                  Istanbul, is known as the city split city. Were it sits on two continents: Europe and Asia. Famous for their beautiful historic mosques.
                  <a routerLink="/login">Click here to see full album</a> 
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div id="p1" class="d-block w-100">
                <img id="img6" src="../../assets/barcelona1.jpg" style="max-width: 69%;">
                <div id="text">
                  Barcelona, is known as the capital of Catalunya. Famous for their Gaudi-Architecture.
                  <a routerLink="/login">Click here to see full album</a> 
                </div>
            </div>
          </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" style="padding-left: 5%;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" style="padding-right: 5%;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>